body{
font-family: sans-serif;
color: #0F2656;
}


header{
	-webkit-box-shadow: 0px 10px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 11px -6px rgba(0,0,0,0.75);
box-shadow: 0px 4px 11px -6px rgba(0,0,0,0.75);
padding: 15px;

}

.wrapper{
width: 90%;
margin: 0 auto;
overflow: hidden;
}

.logo{
width: 8%;
padding-top: 20px;
float: left;
}
.image{
	width: 100%;
}
.menu{
	width: 40%;
	float: right;

}

.menu ul{
	float: right;
	overflow: hidden;

}


.menu ul li{
	list-style: none;
	float: left;
}


.menu ul li a{
	text-decoration: none;
	padding: 10px 18px;
	display: inline-block;
	color: #0F2656;

}

.menu ul li a:hover{
	color: #008AFF;
}
.menu ul li:nth-child(5) a{
padding-right: 0;	
}

.banner{
margin: 0 auto;
padding: 60px 0;
}

.wrapper2{
width: 70%;
margin: 0 auto;

overflow: hidden;
}


.b_content{
	align-content: center;

}

.b_content h1{
	font-size: 65px;
	text-align: center;
	line-height: 80px;
}

.b_span{
	color: #008AFF;
}

.b_content p{
	text-align: center;
	line-height: 30px;
	margin: 20px;

}

.b_img{
	width: 70%;
	margin: 0 auto;
	


}

.b_img img{
	width: 100%;
	transition: .3s;
}

.b_img img:hover {
	width: 100%;
	transform: scale(0.8);
	
}


.success{
margin: 0 auto;
padding: 50px 0;

}

.s_content{
	overflow: hidden;

}

.s_left{
	float: left;
	width: 42%;
	overflow: hidden;
	padding: 0px 10px 0 50px;


}

.s_left h2{
	text-align: right;
	color: #F15767;
	font-size: 50px;
	margin: 0;
}

.s_left p{
	text-align: right;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.s_right{
float: right;
width: 45%;
padding: 0px 50px 0 10px;

}

.s_right h1{
    font-size: 50px;
    margin: 0;
}


.service{
margin: 0 auto;
padding: 20px 0;
}

.service_content{
	overflow: hidden;
	
}
.s_1{
	width: 28%;
	
	padding: 53px 1.739%;
	float: left;
	margin-right: 33px;

}

.style1{
	background-color: #FDEBED;
}





.style2{
	background-color: #EBF9F4;

}

.style3{
	background-color: #FDEBED;
	margin-right: 0;
}
.s_1 img{
width: 100%;
}

.s_1 h2{
font-size: 20px;
}

.s_1 p{
font-size: 18px;
line-height: 25px;

}

.s_1: last-child{
margin-right: 0;
}

footer{
	margin: 0 auto;
	padding-top: 20px;
}
.f_text{
	    background-color: #008AFF;
    padding: 17px;
    text-align: center;
}

.f_text p{
color: white;
}

.f_text p a{
text-decoration: none;
color: white;	
}